.body {
    margin:0px;
	padding:0px;
}

.navbar {
    top:0;
    left:0;
    background-image: linear-gradient(to right, blue, orange, red, blue);
    display: flex;
    width:100vw;
    height:5vh;
    
}

.navbar .text {
    color:white;
    margin-right: 5rem;
    position: relative;
    display: flex;
    align-items: center;
}

.welcome {
    position: relative;
    top:5vh;
}